  body {
    background: #CCD6EF;
    font-family: 'Gravitas One', cursive;
  }
  header{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
  }
  #logo{
    height: -webkit-fill-available;
  }